{% extends "master.html" %}

{% block home %}
class="current"
{% endblock %}

{#Title#}
{% block title %}
Homepage
{% endblock %}

{% block bodyWidth %}
    <div class="bgimg-1">
    <div class="caption">
    <span class="border">TRACKBOARD</span><br>
    <span class="border">ANALYSE YOUR DATA</span>
    </div>
    </div>

    <div class="wrapper">
        {{ macro.build_figure("step1.jpg", "Apply trackboard")}}
        {{ macro.build_figure("step2.jpg", "Start skating")}}
        {{ macro.build_figure("step3.jpg", "Analyze your data")}}
    </div>

{% endblock %}

{#Body#}
{% block body %}
{% endblock %}