{% extends "master.html" %}

{% block statistics %}
class="current"
{% endblock %}

{#Title#}
{% block title %}
TrackBoard - Sessions
{% endblock %}

{#Body#}
{% block body %}
<h1> Sessions</h1>
    <table>
    <thead>
    <tr>
        <th>Session</th>
        <th>Date</th>
        <th>Start time</th>
        <th>End time</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>2017-06-07</td>
        <td>08:33</td>
        <td>10:23</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2017-06-07</td>
        <td>08:33</td>
        <td>10:23</td>
    </tr>
    </tbody>
    </table>
{% endblock %}